/*debug
div,header{
    border:solid 1px black;
}*/
li{
    list-style: none;
    margin:0 0;
}
ul{
    margin: 0 0;
}

a{
    cursor: pointer;
}

a,a:visited{
    text-decoration:none;
}

.main_container a:hover{
    text-decoration: underline;
}
h4{
    font-weight:  bold;
}
html,body,div,p{
    font-size:14px;
    color:#666;
}
body{
    background-color:#fcfcfc;
}



.pagetab{
    display: flex;
    justify-content: center;
}
.pagetab .tab{
    height:40px;
    line-height: 30px;
    color:#538dd5;
    min-width:150px;
    text-align: center;
    margin:0 20px;
    font-size:16px;
}
.pagetab .tab.selected{
    border-bottom:solid 4px #538dd5;
}

.filterbtn{
    position:absolute;
    left:40px;
    height:30px;
    line-height: 30px;
    text-align: center;
    width:100px;
    border:solid 1px #538dd5;
    border-radius: 5px;
    color:#538dd5;
    font-weight: bold;
}


.box{
    width:260px;
    flex-grow: 1;
    margin:20px 20px;
    height:300px;
    text-align: center;
    padding:5px 10px;
}
.box,.right_container{
    background-color: white;
    border:solid 1px #ccc;
    padding:5px 10px;
}
.main_container{
    position: relative;
    margin:0 auto;
}

.nb{
    font-size:17px;
    font-weight:bold;
    color:#999;
}
.left_title_table{
    width:100%;
}
.left_title_table tr>td:first-child{
    font-weight: bold;
}
.left_title_table td{
    text-align: left;
}
.red{
    color:red;
}
.blue{
    color:#538dd5;
}
.green{
    color:green;
}
table{
    width:100%;
}

.column{
    display: inline-block;
    height:25px;
    width:5px;
    background-color: #538dd5;
}
.sub{
    height:25px;
    line-height: 40px;
}
.b_red{
    background-color:#ea5749;
}
.b_yellow{
    background-color:yellow;
}
.b_green{
    background-color:lightgreen;
}
.icontable td{
    position:relative;
    color:#538dd5;
    vertical-align: top;
    font-size:11px;
    width:33%;
    padding:20px 0;
}
.icontable td span.glyphicon{
    font-size:27px;
}

.badge{
    position:absolute;
    right:0;
    top:0;
    font-size:11px !important;
    background-color:#aa3333 !important;
}
.box img{
    display: block;
    width:100%;
}
.tiny{
    font-size:11px;
    line-height: 14px;
    color:#999;
}

.treecontainer{
    width:100%;
    overflow-x: scroll;
    display: flex; 
}

.tree{
    width:200px;
    margin:0 40px;
}

.treenode{
    position:relative;
    border:solid 1px #538dd5;
    border-radius: 8px;
    margin:50px 0;
}

.treenode label{
    border-bottom:solid 1px #538dd5;
    width:100%;
    line-height:30px;
    text-align: center;
}
.treenode label span.glyphicon{
    color:#538dd5;
}
.treenode p,.treenode h5{
    padding:0px 15px;
    margin:4px 0;
}
.treenode .add,.treenode .delete{
    display: block;
    font-size:11px;
    line-height:20px;
    height:20px;
    width:20px;
    border-radius:40px;
    text-align: center;
    border:solid 1px #538dd5;
    position:absolute;
    background-color: white;
}
.treenode .delete{
    top:5px;
    right:30px;
}
.treenode .add{
    right:5px;
    top:5px;
}
.treenode .xr,.treenode .xl{
    position:absolute;
    width:42px;
    top:70px;
    border-top:solid 1px #538dd5;
}
.treenode .xr{
    right:-42px;
}
.treenode .xl{
    left:-42px;
}
.treenode .y{
    position:absolute;
    width:1px;
    top:70px;
    border-left:solid 1px #538dd5;
    right:-42px;
}
.bkalist h5{
    text-align:center;
    color:#538dd5;
    font-weight:bold;
}

.floatpanel{
    display: none;
    position:fixed;
    top:50%;
    height:600px;
    margin-top:-300px;
    left:50%;
    width:700px;
    margin-left:-350px;
    background-color:white;
    z-index:1000;
    border:solid 1px #538dd5;
    padding:20px 20px;
    border-radius: 4px;
}
.floatpanel h5{
    font-weight: bold;
    border-bottom:solid 1px #999;
    line-height:30px;
    padding-bottom: 10px;
}
.floatpanel .btngroup{
    position: absolute;
    bottom:20px;
    right:20px;
    display: flex;
}
.floatpanel .btngroup button{
    margin:0 10px;
}
.floatpanel .close{
    position:absolute;
    top:10px;
    right:10px;
    font-size:10px;
}
.mask{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:black;
    opacity: 0.38;
    z-index: 999;
}
.divide{
    width:100%;
    height:1px;
    background-color: #999;
}
p.tip{
    color:green;
}


.main_container,.nav-tabs,.limit{
    margin:0 auto;
    max-width: 1100px;
    width:100%;
}

.btn_s1{
    display:block;
    padding:5px 5px;
    text-align: center;
    width:auto;
    min-width:100px;
    border:solid 1px #ccc;
    color:#ccc;
    font-size:14px;
    border-radius: 4px;
}
.btn_s1.active{
    border-color:#538dd5;
    color:#538dd5;
}
.floatpanel .btngroup .btn-default{
  border-color:white;
  color:#538dd5;
}
.floatpanel .btngroup .btn-default:hover{
    text-decoration: underline;
    background-color:white;
}
