
body,p,div,a{
    font-size:14px;
}
body{
    padding-bottom:40px;
}

img{
    display: block;
    width:100%;
}

i{
    color:#337ab7;
}

footer{
    font-size:11px;
    color:#ccc;
    position:fixed;
    bottom:0;
    width:100%;
    padding:10px 10px;
    left:0;
}

.searchbox{
    margin:10px 10px;
}

p{
    padding:10px 10px;
}

h5{
    text-align: left;
    margin:5px 10px;
}
header{
    height:50px;
    background-image:url(../images/mb.png);
    background-size: auto 60% ;
    background-repeat: no-repeat;
    background-position-x: 60px;
    background-position-y: 10px;
    border-bottom: solid 1px #eee;
}

header nav {
    width:100%;
    position: absolute;
    top:5px;
    left:0px;
}

header nav i{
    font-size:27px;
    display: inline-block;
    margin:0 0 0 10px;
}
header nav .right{
    position:absolute;
    right:10px;
    top:0px;
}
.content{
    margin:10px 10px;
}

.icon-wrap{
    display: inline-block;
    position:relative;
}
.icon-wrap .badge{
    position:absolute;
    display: none;
}
/* grid */

.grid .item{
    position:relative;
    text-align: center;
    padding:10px 10px;
    border-right: solid 1px #eee;
    border-bottom:solid 1px #eee;
}
.grid .item.left{
    text-align: left;
}
.grid .item.left label{
    display: block;
    margin:0px auto;
    text-align: right;
    text-decoration: underline;
}
.grid .item i{
    text-align: center;
    width:100%;
    font-size:40px;
    line-height:50px;
}

.grid .item .badge{
    display: block;
    position:absolute;
    top:10px;
    right:10px;
    background-color:#aa3333;
}

.badge-trans{
    background-color:transparent !important;
    color:#337ab7;
}
.grid .lng{
    width:50px;
    height:30px;
    margin: 10px auto;
    border-left:solid 8px #337ab7;
    line-height: 50px;
    position: relative;
}
.grid .sublng{
    position:absolute;
    width:1px;
    height:15px;
    left:5px;
    bottom:0;
    border-left:solid 8px #337ab7;
}

/* ctable */

.ctable .row{
    margin: 10px auto;
    color:#999;
}
.ctable .row>div{
    padding:5px 5px;
}

/* color */

.bd_red{
    border-color:#da9694 !important;
}
.bd_yellow{
    border-color:#ffff65 !important;
}
.bd_green{
    border-color:#92d050 !important;
}
small{
    color:#aaa;
}

.green{
    color:#92d050 !important;
}
.red{
    color:#aa3333 !important;
}
.badge{
    background-color:#aa3333;
}