small {
    font-size: 10pt !important;
}

.smaller {
    font-size: 9pt !important;
}

.smallest {
    font-size: 8pt !important;
}
.strong {
    font-weight: bold;
}

.icon-5 {
    font-size: 5pt !important;
}

.icon-14{
    font-size: 14pt !important;
}

.icon-btn{
    font-size: 16pt !important;
}

.bka-red{
    color: #c0504d !important;
}

.bka-gray{
    color: gray !important;
}

.bka-silver{
    color: silver !important;
}

#profile-tab .gray{
    color: gray !important;
}

.m-w25{    
    display:-moz-inline-box; 
    display:inline-block;
    width:25px;
}

.m-w500{
    min-width:500px !important;
}

.mp20{
    margin-top: 20px;
}

.pl15{
    padding-left: 15px !important;
}

.pl20{
	padding-left: 20px !important;
}

.pl30{
	padding-left: 30px !important;
}

.pl40{
	padding-left: 40px !important;
}

.text-overflow {
/*内联对象需加 display:block;*/
word-break:keep-all;/* 不换行 */
white-space:nowrap;/* 不换行 */
overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}

.a-NoLine{
    color: gray !important;
}

.a-NoLine:hover,
.a-NoLine:focus {
    text-decoration: none !important;

}

.modal-header{
	padding: 5px 10px 0;
}

.modal-footer a{
	margin-right: 15px;
}

.search-item .title {
    display: inline-block;
    margin: 0 20px 10px 0px;
    min-width: 100px;
    width: auto;
}

.search-item .form-group {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    width: 120px;
}

.search-item input[type='text'] , 
.search-item .bootstrap-select{
	display: inline-block;
    margin: 0 20px 10px 0px;
    min-width: 100px !important;
    width: 200px !important;
}

.search-item {
    margin: 10px 0;
}

.fixed-table-container .bs-checkbox{
	vertical-align: middle;
}

/************************ bkacreate ************************** */
.bkacreate .bka-heading .bka-return{
	 font-size: 14pt;
    line-height: 20px;
    text-align: left !important;
    float:left;
    left:5px;

    position: absolute;
    top: 12px;
}

.bkacreate .bka-supplier-rule-list {
    list-style: outside none disc;
    margin: 10px 0;
    padding-left: 20px;
    color:silver;
    font-size: 9pt !important;
}

.bkacreate .bka-supplier-rule-list > li {
    font-size: 9pt;
    padding: 6px 0;
}

.bka-label-title{
	font-weight: bold;
}

.bkacreate .option-panel label{
	/*margin-top: -8px !important;*/
}

lead-time-input.bkacreate .lead-time-input {
    margin: 10px 0 20px 0; }
    .bkacreate .lead-time-input .input-item {
      margin: 6px 0; 
      font-size: 9pt;}
      .bkacreate .lead-time-input .input-item span {
        display: inline-block;
        width: 180px !important;
        }
      .bkacreate .lead-time-input .input-item input[type='text'] {
        background-color: #fde9d9;
        width: 60px;
        line-height: 1;
        border: solid 1px #ccc;
        text-align: center; 
        margin-right: 20px; 
        margin-left:-10px;
    }


    bka-Capacity-title.bkaview .bka-Capacity-title {
    margin: 10px 0 20px 0;
    float:left; }
    .bkaview .bka-Capacity-title .capacity-title {
      margin: 6px 0; 
      }
      .bkaview .bka-Capacity-title .capacity-title {
        display: inline-block;
        width: 180px !important;

        }
      .bkaview .bka-Capacity-title .capacity-title span {
        display: inline-block;
        margin-right: 20px; 
        font-size: 10pt !important;
    }

        lead-time-input.bkaview .lead-time-input {
    margin: 10px 0 20px 0; }
    .bkaview .lead-time-input .input-item {
      margin: 6px 0; 
      font-size: 9pt;}
      .bkaview .lead-time-input .input-item span {
        display: inline-block;
        width: 180px !important;
        }
      .bkaview .lead-time-input .input-item input[type='text'] {
        background-color: #ffffff;
        width: 60px;
        line-height: 1;
        border: solid 0px #ccc;
        text-align: center; 
        margin-right: 20px; 
    }


/*===========BKA View ====================*/
.inner-page.bkaview .main .table-area .table td.green{
    color: #92d050 !important;
}

.admin .sub-section .option-item .bootstrap-tagsinput, .report .sub-section .option-item .bootstrap-tagsinput{
    min-width: 540px;
}

.navbar .navbar-form {
    margin: 5px 0;
}

.inner-page .search-item .form-group {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    width: 120px;
}

.table > thead > tr > th, .table > thead > tr > td, 
.table > tbody > tr > th, .table > tbody > tr > td, 
.table > tfoot > tr > th, .table > tfoot > tr > td{
    padding: 8px 0px 5px 5px;
}

.history > h3 , 
.search > h3, 
.index > h3
 {
    border-bottom: 1px solid #dce6f1;
    font-size: 14pt;
    padding-bottom: 20px;
    text-align: center;
}

.fixed-table-container input[type="radio"], .fixed-table-container input[type="checkbox"] {
    margin: 3px !important;
}

.stop-black{
     color: #777777 !important;     
}


.bka-table td div.yellow {
    border-left: 7px solid #ffff65;
}

.bka-table td div.red {
    border-left: 7px solid #da9694;
}

.bka-table td div.green {
    border-left: 7px solid #92d050;
}

.bka-table td div.white {
    border: 1px solid #dbe5f1 !important;
    color: #fff;
    width: 7px !important;
}

.bka-table div.red, .bka-table div.yellow, .bka-table div.white, .bka-table div.green {
    float: left;
    height: 40px;
    margin-right: 5px !important;
    padding-left: 17px;
    width: 7px;
    cursor:pointer;
}


.bka-icon{    
    display:-moz-inline-box; 
    display:inline-block;
    width:25px;
    font-size: 13pt;
    vertical-align: middle;
}

.inner-page.search .table.bka-table tbody > tr td .badge{
    margin: 0 0 2px 6px !important;
}

.icon-cell-right{
    text-align: right;
    padding-right: 5px !important;
}

.Highlight-KW{
    background-color: #538dd5 !important;
    color: #fff;
} 

.byperiod table td{
    min-width: 120px !important;
}


.inner-page.search .table.bka-table tbody > tr td.has-detail-info .detail-info-panel{

}

.supplier-choose-panel .bootstrap-table{
    margin-top:5px;
}


#pullDown, #pullUp {
    background: #fff none repeat scroll 0 0;
    color: #888;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
}

.pullDownIcon
 {
    padding:10px;
    background: rgba(0, 0, 0, 0) url("../images/pull-icon.png") no-repeat scroll 0 0 / 40px 80px;
    display: block;
    float: left;
    height: 40px;
    width: 40px;
}

.pullLoadIcon {
    padding:10px;
    background: rgba(0, 0, 0, 0) url("../images/pull-icon.png") no-repeat scroll 0 -40px / 40px 80px;
    display: block;
    float: left;
    height: 40px;
    width: 40px;
}

  label{
     vertical-align: middle !important;  
  }

  input[type="radio"],
input[type="checkbox"] {
  margin-top: 0 !important;  
   }

   #notification-tab .form-group .help-text{
    color: silver;
    font-size: 10pt;
    margin-top: 10px; 
    margin-left: 15px;
}

.tr-active{
    background-color: #f4f7fa;
}

.search-toolbar-icon a{
    text-align: center;
}

.search-toolbar-icon .task-list li {
    float: left;
    margin-right: 10px;
    padding: 0px 10px 0px 10px;
    position: relative;
    text-align: center;
}

.search-toolbar-icon a p {
    display: block;
    line-height: 1.5;
    margin-top: 6px;
    transition: all 0.5s ease 0s;
}

.search-toolbar-icon a .alarm {
    background-color: #c0504d;
    position: absolute;
    right: 10px;
    top: -10px;
}

.alarm {
    background-color: #777777;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 4px 6px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}



.filter-item  
input[type="radio"],
 
input[type="checkbox"] {
  vertical-align: top !important;
   }

   #my-account-modal
   input[type="radio"],
input[type="checkbox"] {
  vertical-align: top !important;
   }

.inner-page .folding-panel .filter-item .bootstrap-select
{
    min-width: 120px !important;
}

.inner-page.bkaview .main .option-panel label{
     margin-top: -5px;
}

.inner-page.bkacreate .option-panel label{
     margin-top: -5px;
}

/* new */
/*debug
div,header{
    border:solid 1px black;
}*/

a,a:hover,a:visited{
    text-decoration:none;
}
h4{
    font-weight:  bold;
}
html,body,div,p{
    font-size:14px;
    color:#666;
}
body{
    background-color:#fcfcfc;
}
header{
    background-color:white;
    height:70px;
    position:relative;
}
header .pagetitle{
    width:100%;
    line-height: 70px;
    font-size:21px;
    text-align: center;
    color:#999;
}
/*header .pagetitle-left {*/
  /*margin-left: 220px;*/
  /*text-align: left;*/
/*}*/
header .pagetitle2 {
  display: inline-block;
  margin-left: 220px;
  line-height: 70px;
  font-size:21px;
  color:#999;
}
header .logo{
    position:absolute;
    left:40px;
    height:40px;
    top:20px;
}
header .logo-left {
  display: inline-block;
  margin-left: 40px;
  margin-top: 40px;
  height: 20px;
}

.pagetab{
    display: flex;
    justify-content: center;
}
.pagetab .tab{
    height:40px;
    line-height: 30px;
    color:#538dd5;
    min-width:150px;
    text-align: center;
    margin:0 20px;
    font-size:16px;
    font-weight:bold
}
.pagetab .tab.selected{
    border-bottom:solid 4px #538dd5;
}

.filterbtn{
    position:absolute;
    left:40px;
    height:30px;
    line-height: 30px;
    text-align: center;
    width:100px;
    border:solid 1px #538dd5;
    border-radius: 5px;
    color:#538dd5;
    font-weight: bold;
}


.box{
    width:260px;
    min-width: 260px;
    /*max-width: 500px;*/
    /*flex-grow: 1;*/
    flex: 1;
    /*flex-basis: 20%;*/
    margin:20px 20px;
    height:300px;
    text-align: center;
    padding:5px 10px;
}
.box,.right_container{
    background-color: white;
    border:solid 1px #ccc;
    padding:5px 10px;
}
.main_container{
    position: relative;
}

.leftcontainer-text {
  font-size: 18px;
}
.left-container-text-sm {
  font-size: 14px;
}
.left-container-margin {
  margin: 70px 0;
}

.nb{
    font-size:20px;
    color:#538dd5;
    font-weight:bold;
}
.left_title_table{
    position: relative;
    width:100%;
}
.left_title_table tr>td:first-child{
    font-weight: bold;
}
.left_title_table td{
    text-align: left;
    padding:10px 0;
}
.left_title_table td.active {
    color: #aa3333;
}
.red{
    color: #aa3333;
}

.blue{
    color:#538dd5;
}
.green{
    color:green;
}
table{
    width:100%;
}

.column{
    display: inline-block;
    height:25px;
    width:5px;
    background-color: #538dd5;
}
.sub{
    height:25px;
    line-height: 40px;
}
.b_red{
    background-color:#ea5749;
}
.b_yellow{
    background-color:yellow;
}
.b_green{
    background-color:lightgreen;
}
.icontable td{
    position:relative;
    color:#538dd5;
    vertical-align: top;
    font-size:17px;
    width:33%;
    padding:20px 0;
}
.icontable td span.glyphicon{
    font-size:27px;
}

.badge{
    position:absolute;
    right:0;
    top:0;
    font-size:11px !important;
    background-color:#aa3333 !important;
}


.inner-page.bkaview .sidebar .result-list .icon-bar {
  right: 4px;
  top: -1px;
  padding: 1pt 1pt;
  position:absolute;
}
.badge-right-top {
    right: -3px;
    top: 0;
    padding: 1pt 1pt;
    font-size:7px !important;
}
.badge-right-top-bka{
    right:-15px !important;
    top:-5px !important;
    font-size:1pt !important;
    padding:1pt 1pt !important;
}
.badge-blue {
    background: #538dd5 !important;
}
.badge-left-top {
    left: -10px;
    top: -10px;
    padding: 1px 0;
    font-size: .1em !important;
}
.box img{
    display: block;
    width:100%;
}
.tiny{
    font-size:11px;
    line-height: 14px;
}
.bkalist h5{
    text-align:center;
    color:#538dd5;
    font-weight:bold;
}

.floatpanel{
    display: none;
    position:fixed;
    top:50%;
    height:600px;
    margin-top:-300px;
    left:50%;
    width:700px;
    margin-left:-350px;
    background-color:white;
    z-index:1000;
    border:solid 1px #538dd5;
    padding:20px 20px;
}
.floatpanel .btngroup{
    position: absolute;
    bottom:20px;
    right:20px;
    display: flex;
}
.floatpanel .btngroup button{
    margin:0 10px;
}
.mask{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:black;
    opacity: 0.38;
    z-index: 999;
}
.divide{
    width:100%;
    height:1px;
    background-color: #999;
}
p.tip{
    color:green;
}

/* icon */
.icon {
    margin-right: 10px;
    cursor: pointer;
    font-size: 40px;
}
.icon-wrap {
    position: relative;
    display: inline-block;
}
.icon-lg {
    font-size: large;
}
.icon-xlarge {
    font-size: 2em;
}
.icon-margin {
    margin: 0 5px;
}
.iconname{
  font-size: 14px;
}
.icon-pencil{
  font-size: 14px;
}
/* #icon */

body {
    min-width: 725px;
}


@media screen and (min-width:1600px) {
    .box {
        flex: 0;
    }
}
/* # index.new */
.icon-small{
  font-size: 16px;
}
.ai-tag-small{
  fontsize:6px;
  padding:1px 2px;
  margin: 0 0 2px 6px;
}

/*seach bkas 页面 */
.red{
  color:#aa3333;
}

.blue{
  color:#538dd5;
}
.table-padding-right{
  padding-right:10px;
}
.icon-big{
  font-size: 20px;
}

/* nav h2 */
.nav li .nav-tab-title {
  /*font-size: large;*/
  margin-left: 80px;
  padding: 10px 15px;
  line-height: 1.42857;
  color: gray;
}

.red-circle {
  padding: 1px 5px;
  background:#C0392B;
  color: white;
  /*font-size: small;*/
  border-radius: 50%;
}
.red-circle-sm {
  font-size: small;
}

.parent{
  border-left:7px solid #92d050;

}

.rectgreen{
  margin-left: 20px;
}

.rectred{
  border-left: 7px solid #da9694;
  padding-left: 11px;
  margin-left: 4px;
}

/* table */
.table-height{
  height: 30px;
}

.inline-sm, .inline-lg {
  float: left;
}
.inline-sm {
  margin-left: 3%;
  width: 50%;
}
.inline-lg {
  width: 40%;
}
/* #table */

.my-hidden {
  display: none;
}

/*bkaview*/
.rectyellow{
  border-left: 4px solid;
  padding-left:5px;
  margin-left:10px;
  color:yellow;
}

.text-right{
  margin-left:6px ;
}

.tag-red{
  color:#aa3333;
}