.search-title {
  color: gray;
}

.center-align {
  text-align: center;
}

.inline-block {
  display: inline-block;
}


.btn-group-dropdown{
 width:100%;
}

.tag-tooltip{
  pading:6px;
  min-width: 100px;
}

.black{
  color:black;
}
.chevron-up-center{
  padding-left: 10px;
}

/* fix-right-bottom */
.fix-right-bottom {
  position: fixed;
  right: 20px;
  bottom: 60px;
  z-index: 1000;
  list-style: none;
  width: 80px;
}
.fix-right-bottom li {
  margin: 0;
  padding: 5px;
  background: gainsboro;
  border: 1px solid beige;
  text-align: center;
}

/* body-no-fade */
body.body-no-fade .modal-backdrop {
  opacity: 0 !important;
}

/* btn-star */
.btn-star {
  margin-left: 40px;
}