.search-title {
  color: gray;
}

.center-align {
  text-align: center;
}

.inline-block {
  display: inline-block;
  position: relative;
}

.btn-rect {
  border-radius: 0;
}

.btn-group-dropdown{
 width:100%;
}

.tag-tooltip{
  pading:6px;
  min-width: 100px;
}